[submodule "lib/FreeRTOSV10.4.3LTSP3"]
	path = lib/FreeRTOSV10.4.3LTSP3
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/STM32Cube_FW_F4_V1.28.0"]
	path = lib/STM32Cube_FW_F4_V1.28.0
	url = https://github.com/STMicroelectronics/STM32CubeF4
